#urunler {
 
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 500px;
}

#siparis {
 
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    overflow: auto;
    height: 500px;
    
  }

  #tarif {
 
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    overflow: auto;
    width: 450px;
    height: 450px
  }

#button {

   
   cursor: pointer;
    height: 50px;
    width: 350px;
    border-radius: 8px;
    font-family: "Monospace";
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    text-align: center;
    
}
#button:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);
    
}
#buttonRecipe {

   cursor: pointer;
    height: 50px;
    width: 200px;
    
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px; 
    font-family: "Monospace";
    text-align: center;


}
#buttonRecipe:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);

}
#buttonOrder {

    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;

}
#buttonOrder:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);

}
#buttonImage {
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;

}
#buttonImage:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
#userInput {
    
    height: 40px;
    width: 295px
}

#sourceImage {

    width:600px; 
    height: 500px;
    cursor: pointer;


}
table {

 width:650px !important;
 vertical-align: top;
 border-collapse: collapse;
  
 border-color: #28639e;
 margin-top: 20px;

}
th, tr {
    text-align: center !important;
    border-color: black;
   
}

tr:nth-child(even) {background-color:#e6f7ff ;}

#buttonAra {
    cursor: pointer;
    height: 50px;
    width: 60px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;
}
#buttonAra:hover{
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
.breakrow3:hover {
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
.breakrow3 {
    background-color: white !important;
}