body {
    background: #f2f2f2 !important;
}

#urunler {
  border-color: #28639e;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  display: block;
  overflow: auto;
  width:625px;
  max-height: 500px;
  margin-top: 15px;
  padding:5px;
}

#siparis {
 
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    overflow: auto;
    height: 500px;
    width: 600px !important;
    margin-left: 50px;
  }

  #tarif {
 
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 25px;
    overflow: auto;
    width: 600px !important;
    height: 450px;
    margin-left: 50px;
  }

#button {

   
   cursor: pointer;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    font-family: "Monospace";
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    text-align: center;
    
}
#button:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);
    
}
#buttonRecipe {

   cursor: pointer;
    height: 50px;
    width: 200px;
    
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px; 
    font-family: "Monospace";
    text-align: center;
    

}
#buttonRecipe:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);

}
#buttonOrder {

    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;
    

}
#buttonOrder:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);

}
#buttonImage {
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;
    margin-left: 50px;

}
#buttonImage:hover  {
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
#userInput {
    
    height: 40px;
    width: 295px
}
#stt {
    
    height: 40px;
    width: 295px
}

#sourceImage {

    width:600px; 
    height: 500px;
    cursor: pointer;
    margin-left: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #28639e;


}
.tab-table {

 width:650px !important;
 vertical-align: top;
 border-collapse: collapse;
  
 border-color: #28639e;
 margin-top: 20px;

}
th, tr {
    text-align: center !important;
    border-color: black;
   
}

tr:nth-child(even) {background-color:#e6f7ff ;}

#buttonAra {
    cursor: pointer;
    height: 50px;
    width: 60px;
    border-radius: 8px;
    font-size: 20pt;
    color: rgb(5, 4, 3);
    background-image: linear-gradient(#99ccff, #3399ff);
    background-color: lightskyblue;
    border-radius: 8px;
    font-family: "Monospace";
    text-align: center;
}
#buttonAra:hover{
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
.breakrow:hover {
    background-image: linear-gradient(#e6f7ff, #3399ff);
}
.breakrow {
    background-color: rgb(11, 10, 70) !important;
    color: #e6f7ff
}
#tempNum0 {
    margin-top: 0px !important;
    font-size: 40pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
#tempNum1 {
    margin-top:170px !important;
    font-size: 40pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
#tempNum2 {
    margin-top: 190px !important;
    font-size: 40pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
#bell {

    cursor: pointer !important;
}
#soru {
    cursor: pointer !important;
}


#bell:hover {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
}

#soru:hover {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
}
#Fridge:hover {
    opacity: 0.7;
    transition: opacity .25s ease-in-out !important;
}
#Fridge{
    cursor: pointer !important;
}
#taneInput {
    text-align: center;
    
}
#a {
    cursor: pointer !important;
}
#a:hover {
    opacity: 0.7;
    transition: opacity .25s ease-in-out !important;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fade 1s;
    animation: fade 1s
  }
  @keyframes fade {
    from {opacity: 0;}
    to {opacity:1 ;}
  }  
  #check {
    cursor: pointer !important;

  }
  #check:hover {
    opacity: 0.7;
    transition: opacity .25s ease-in-out !important;
    margin-left: 10px;
}